<div class="mt-4">
    <div>
      <a href="/me/stored/books">List Books</a>
      <h3>My Books are deketed</h3>
      
    </div>
    <table class="table mt-4">
        <thead>
            
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Created Time</th>
            </tr>
        </thead>
        <tbody>
            {{#each books}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{ this.name }}</td>
                <td>{{ this.createdAt }}</td>
                <td> 
                    <a href="" class="btn btn-link btn-restore-book" data-id="{{ this._id }}">Restore</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{ this._id }}" data-bs-target="#delete-book-modal">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="3" class="text-center">
                  Trash empty
                  <p><a href="/me/stored/books" > List my books </a></p>
                </td>
                
            {{/each}}
    </table>
</div>

{{!-- Conform delete book --}}
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="delete-book-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This action cannot be reversed. Are you sure you want to delete this book?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="btn-delete-book" type="button" class="btn btn-danger">Permanently Delete</button>
      </div>
    </div>
  </div>
</div>

  
  {{!-- End Conform delete book --}}
<form name="delete-book-form" method="post" ></form>
<form name="restore-book-form" method="post" ></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        var bookId;
        var deleteForm = document.forms['delete-book-form']
        var restoreForm = document.forms['restore-book-form']
        var btnDeleteBook = document.getElementById('btn-delete-book');
        var btnRestore = document.querySelectorAll('.btn-restore-book');     

        // when dialog confirm clicked
        $('#delete-book-modal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          bookId = button.data('id');
          // console.log(id);
        });
        
        // when delete button clicked
        btnDeleteBook.onclick = function() {
          //alert();
          deleteForm.action = '/books/' + bookId + '/destroy?_method=DELETE';
          deleteForm.submit();
        };

        // when restore button clicked
        btnRestore.forEach(e => {
              e.addEventListener('click', (event) => {
                event.preventDefault();
                const bookId = e.dataset.id;
                const restoreForm = document.forms["restore-book-form"];
                restoreForm.action = `/books/${bookId}/restore?_method=PATCH`
                restoreForm.submit();
              })
        });

    });

    
</script>